* {
  margin: 0;
  padding: 0;
  user-select: none;

  /* border: 2px solid red; */
}

#basket-container {
  width: 200px;
  height: auto;
  margin: auto;
  text-align: center;
}

#basket {
  z-index: 1;
}

#disc {
  position: relative;
  top: 360px;
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  background-color: blue;
  cursor: pointer;
}

.madePutt {
  transform: translate(18px, -510px) rotate(-15deg);
  width: 40px !important;
  height: 8px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

.madePuttDrop {
  transform: translate(18px, -455px) rotate(0deg);
  transition: transform 500ms;
  z-index: -1;
}
