* {
  margin: 0;
  padding: 0;
  user-select: none;

  /* border: 2px solid red; */
}

body {
  height: 100vh;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

#gamestart-overlay-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

#gamestart-overlay-menu {
  position: relative;
  top: 190px;
  width: 600px;
  height: 300px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  background-color: lightGray;
}

#game-title-top {
  position: relative;
  top: 40px;
  width: 360px;
  margin: auto;
  font-family: sans-serif;
  font-size: 40px;
}

#game-title-bottom {
  position: relative;
  top: 40px;
  width: 360px;
  margin: auto;
  font-family: sans-serif;
  font-size: 40px;
}

#game-mode-timed {
  position: relative;
  top: 60px;
  width: 160px;
  margin: auto;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
}

#game-mode-practice {
  position: relative;
  top: 64px;
  width: 160px;
  margin: auto;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
}

#game-mode-timed:hover {
  color: white;
}

#game-mode-practice:hover {
  color: white;
}

#overlay-play-again {
  position: relative;
  top: 60px;
  width: 160px;
  margin: auto;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
}

#overlay-quit {
  position: relative;
  top: 64px;
  width: 160px;
  margin: auto;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
}

#overlay-play-again:hover {
  color: white;
}

#overlay-quit:hover {
  color: white;
}

#game-timer {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 180px;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 200;
}

#player-score {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 180px;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 200;
}

#basket-container {
  position: relative;
  top: 20px;
  width: 120px;
  height: auto;
  margin: auto;
  text-align: center;
}

#basket {
  z-index: 0;
}

#cage {
  position: relative;
  top: -82px;

  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  margin: auto;

  z-index: 0;
}

.cage-overlay {
  z-index: 2 !important;
}

#corner-quit {
  position: absolute;
  top: 20px;
  right: 40px;
  width: auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}

#putting-instructions {
  position: absolute;
  top: 528px;
  left: 0;
  right: 0;
  width: 380px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 200;
}

#instructions-left {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 120px;
}

#instructions-right {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 120px;
}

#inline-container {
  position: relative;
  top: 381px;
  width: 380px;
  height: 50px;
  margin: auto;
  text-align: center;
}

#putt-start-line-left {
  position: absolute;
  top: 10px;
  left: 0px;
  display: inline-block;
  width: 120px;
  height: 0px;
  border: 0.5px solid black;
}

#putt-start-line-right {
  position: absolute;
  top: 10px;
  right: 0px;
  display: inline-block;
  width: 120px;
  height: 0px;
  border: 0.5px solid black;
}

.putt-start-line-left-collapsed {
  left: 100px !important;
  width: 10px !important;
  transition: left 400ms ease-in-out, width 400ms ease-in-out;
}

.putt-start-line-right-collapsed {
  right: 100px !important;
  width: 10px !important;
  transition: right 400ms ease-in-out, width 400ms ease-in-out;
}

#disc {
  display: inline-block;
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  background-color: blue;
  cursor: pointer;
  z-index: 1;
}

.disc-start {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.putt {
  transform: translate(18px, -520px) rotate(-15deg);
  width: 40px !important;
  height: 6px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

.putt-high {
  transform: translate(18px, -520px) rotate(-15deg);
  width: 38px !important;
  height: 6px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

.putt-drop {
  transform: translate(18px, -480px) rotate(0deg);
  transition: transform 500ms;
  z-index: 1;
}

.putt-drop-behind {
  transform: translate(18px, -480px) rotate(0deg);
  width: 30px !important;
  height: 4px !important;
  z-index: -1 !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

#arrow-container {
  position: relative;
  top: 331px;
  margin: auto;
  width: 200px;
  height: 132px;
}

#arrow-top {
  position: relative;
  top: 30px;
  width: 40px;
  height: 70px;
  margin: auto;
  border: 1px solid black;
  background-color: black;
  opacity: 0.2;
  z-index: 0;
}

#arrow-bottom {
  position: relative;
  top: 30px;
	width: 0;
	height: 0;
  margin: auto;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 30px solid rgba(0, 0, 0, 0.2);
}

#mute-button {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 44px;
  text-align: left;
  color: black;
  cursor: pointer;
}


@media screen and (max-width: 680px) {
  #gamestart-overlay-menu {
    width: 500px;
  }
}

@media screen and (max-width: 580px) {
  #gamestart-overlay-menu {
    width: 400px;
  }

  #game-timer {
    left: 20px;
  }

  #player-score {
    left: 20px;
  }

  #corner-quit {
    right: 20px;
  }

  #mute-button {
    right: 20px;
  }
}

@media screen and (max-width: 480px) {
  #gamestart-overlay-menu {
    width: 360px;
  }
}

/* @media screen and (max-height: 700px) {
  #inline-container {
    top: 301px;
  }
} */
