* {
  margin: 0;
  padding: 0;
  user-select: none;

  /* border: 2px solid red; */
}

#basket-container {
  width: 200px;
  height: auto;
  margin: auto;
  text-align: center;
}

#disc {
  position: relative;
  top: 360px;
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  background-color: blue;
}

.madePutt {
  transform: translate(0px, -510px) rotate(-15deg);
  width: 60px !important;
  height: 10px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}
