* {
  margin: 0;
  padding: 0;
  user-select: none;

  /* border: 2px solid red; */
}

#basket-container {
  position: relative;
  top: 20px;
  width: 120px;
  height: auto;
  margin: auto;
  text-align: center;
}

#basket {
  z-index: 0;
}

#cage {
  position: relative;
  top: -82px;
  z-index: 0;
}

#inline-container {
  position: relative;
  top: 340px;
  width: 300px;
  height: 50px;
  margin: auto;
  text-align: center;
}

#putt-start-line-left {
  position: absolute;
  top: 10px;
  left: 50px;
  display: inline-block;
  width: 10px;
  height: 0px;
  border: 1px solid black;
}

#putt-start-line-right {
  position: absolute;
  top: 10px;
  right: 50px;
  display: inline-block;
  width: 10px;
  height: 0px;
  border: 1px solid black;
}

#disc {
  display: inline-block;
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  background-color: blue;
  cursor: pointer;
  z-index: 1;
}

.disc-start {
  top: 0 !important;

  /* top: 45 !important; */

  left: 0 !important;
  right: 0 !important;
}

#arrow-container {
  position: relative;
  top: 290px;
  margin: auto;
  width: 200px;
  height: 132px;
}

#arrow-top {
  position: relative;
  top: 30px;
  width: 40px;
  height: 70px;
  margin: auto;
  border: 1px solid black;
  background-color: black;
  opacity: 0.2;
  z-index: 0;
}

#arrow-bottom {
  position: relative;
  top: 30px;
	width: 0;
	height: 0;
  margin: auto;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 30px solid rgba(0, 0, 0, 0.2);
}

.putt {
  transform: translate(18px, -520px) rotate(-15deg);
  width: 40px !important;
  height: 6px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

.putt-high {
  transform: translate(18px, -520px) rotate(-15deg);
  width: 38px !important;
  height: 6px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

.putt-drop {
  transform: translate(18px, -480px) rotate(0deg);
  transition: transform 500ms;
  z-index: 1;
}

.putt-drop-behind {
  transform: translate(18px, -480px) rotate(0deg);
  width: 30px !important;
  height: 4px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
  z-index: -1 !important;
}

.cage-overlay {
  z-index: 2 !important;
}
