* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  /* border: 2px solid red; */
}

body {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

#gamestart-overlay-background {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

#gamestart-overlay-menu {
  position: relative;
  top: 190px;
  width: 600px;
  height: 300px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: lightGray;
}

#game-title-top {
  position: relative;
  top: 40px;
  width: 340px;
  margin: auto;
  font-family: sans-serif;
  font-size: 40px;
}

#game-title-bottom {
  position: relative;
  top: 40px;
  width: 340px;
  margin: auto;
  font-family: sans-serif;
  font-size: 40px;
}

#game-mode-timed {
  position: relative;
  top: 60px;
  width: 180px;
  height: 40px;
  margin: auto;
  padding-top: 8px;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

#game-mode-practice {
  position: relative;
  top: 70px;
  width: 180px;
  height: 40px;
  margin: auto;
  padding-top: 8px;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

/* #game-mode-timed:hover {
  color: white;
}

#game-mode-practice:hover {
  color: white;
} */

#overlay-play-again {
  position: relative;
  top: 60px;
  width: 180px;
  height: 40px;
  margin: auto;
  padding-top: 8px;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

#overlay-quit {
  position: relative;
  top: 70px;
  width: 180px;
  height: 40px;
  margin: auto;
  padding-top: 8px;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

/* #overlay-play-again:hover {
  color: white;
}

#overlay-quit:hover {
  color: white;
} */

#game-timer {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 180px;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 200;
}

#player-score {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 180px;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#basket-container {
  position: relative;
  top: 20px;
  width: 120px;
  height: auto;
  margin: auto;
  text-align: center;
}

#basket {
  z-index: 0;
}

#cage {
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  margin: auto;
  z-index: 0;
}

.cage-overlay {
  z-index: 2 !important;
}

#corner-quit {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 80px;
  height: 32px;
  padding-top: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

#putting-instructions {
  position: absolute;
  top: 528px;
  left: 0;
  right: 0;
  width: 380px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 200;
}

#instructions-left {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 120px;
}

#instructions-right {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 120px;
}

#inline-container {
  position: relative;
  top: 381px;
  width: 380px;
  height: 50px;
  margin: auto;
  text-align: center;
}

#putt-start-line-left {
  position: absolute;
  top: 10px;
  left: 0px;
  display: inline-block;
  width: 120px;
  height: 0px;
  border: 0.5px solid black;
}

#putt-start-line-right {
  position: absolute;
  top: 10px;
  right: 0px;
  display: inline-block;
  width: 120px;
  height: 0px;
  border: 0.5px solid black;
}

.putt-start-line-left-collapsed {
  left: 100px !important;
  width: 10px !important;
  transition: left 400ms ease-in-out, width 400ms ease-in-out;
}

.putt-start-line-right-collapsed {
  right: 100px !important;
  width: 10px !important;
  transition: right 400ms ease-in-out, width 400ms ease-in-out;
}

#disc {
  display: inline-block;
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  background-color: blue;
  cursor: pointer;
  z-index: 1;
}

.disc-start {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.putt {
  transform: translate(18px, -520px) rotate(-15deg);
  width: 40px !important;
  height: 6px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

.putt-high {
  transform: translate(18px, -520px) rotate(-15deg);
  width: 38px !important;
  height: 6px !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

.putt-drop {
  transform: translate(18px, -480px) rotate(0deg);
  transition: transform 500ms;
  z-index: 1;
}

.putt-drop-behind {
  transform: translate(18px, -480px) rotate(0deg);
  width: 30px !important;
  height: 4px !important;
  z-index: -1 !important;
  transition: transform 1000ms ease-out, width 1000ms ease-in, height 1000ms ease-in;
}

#arrow-container {
  position: relative;
  top: 331px;
  margin: auto;
  width: 200px;
  height: 132px;
}

#arrow-top {
  position: relative;
  top: 30px;
  width: 40px;
  height: 70px;
  margin: auto;
  border: 1px solid black;
  background-color: black;
  opacity: 0.2;
  z-index: 0;
}

#arrow-bottom {
  position: relative;
  top: 30px;
	width: 0;
	height: 0;
  margin: auto;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 30px solid rgba(0, 0, 0, 0.2);
}

#mute-button {
  position: absolute;
  top: 622px;
  right: 40px;
  width: 48px;
  height: 48px;
  padding-top: 2px;
  font-size: 44px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

/* ----------------------------- Media Queries ----------------------------- */

@media screen and (max-width: 680px) {
  #gamestart-overlay-menu {
    width: 500px;
  }
}

@media screen and (max-width: 580px) {
  #gamestart-overlay-menu {
    width: 400px;
  }

  #game-timer {
    left: 20px;
    width: 100px;
  }

  #player-score {
    top: 652px;
    left: 20px;
  }

  #corner-quit {
    right: 20px;
    width: 67px;
    height: 27px;
    padding-top: 3px;
  }

  #mute-button {
    top: 630px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding-top: 2px;
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  #gamestart-overlay-menu {
    width: 360px;
  }

  #putting-instructions {
    width: 360px;
  }

  #instructions-left {
    width: 110px;
  }

  #instructions-right {
    width: 110px;
  }

  #inline-container {
    width: 360px;
  }

  #putt-start-line-left {
    left: 0px;
    width: 110px;
  }

  #putt-start-line-right {
    right: 0px;
    width: 110px;
  }
}

/* ---------- Main Mobile Design ---------- */
@media screen and (max-height: 675px) {
  #gamestart-overlay-menu {
    top: 160px;
    height: 220px;
  }

  #game-title-top {
    top: 10px;
  }

  #game-title-bottom {
    top: 10px;
  }

  #game-mode-timed {
    top: 20px;
    height: 26px;
    padding-top: 2px;
    padding-bottom: 10px;
  }

  #game-mode-practice {
    top: 30px;
    height: 26px;
    padding-top: 2px;
    padding-bottom: 10px;
  }

  #overlay-play-again {
    top: 20px;
    height: 26px;
    padding-top: 2px;
    padding-bottom: 10px;
  }

  #overlay-quit {
    top: 30px;
    height: 26px;
    padding-top: 2px;
    padding-bottom: 10px;
  }

  #putting-instructions {
    top: 398px;
  }

  #inline-container {
    top: 251px;
  }

  #arrow-container {
    position: relative;
    top: 201px;
  }

  #mute-button {
    top: 492px;
  }
}

@media screen and (max-width: 580px) and (max-height: 675px) {
  #player-score {
    top: 522px;
  }

  #mute-button {
    top: 500px;
  }
}
